*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
    /* width: 100vw;
    height: 100vh; */
    padding: 50px;
}
header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    min-height: 70px;
}

.link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 5px;
}
li{
    margin: 3px;
}
a{
    text-decoration: none;
    
    color: white;
    background-color: #4a4a4a;
}
main{
    width: 100%;
   
    /* max-width: 1200px;
    margin: 0 auto; */
    margin-top: 60px;
    
}
/* .img{
    
    width: calc(100%/7);
   
} */
.contenitore-due{
    display: flex;
    
    justify-content: flex-start;
    flex-wrap: wrap;
}
.contenitore-due img{
    padding: 3px;
}
.contenitore-tre{
    background-color:#222222;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 30;
    min-height: 70px;
}
.lista{
    display: flex;
    list-style: none;

}
.sotto-lista{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.sotto-lista2{
    display: flex;
    justify-content: center;
    align-items: center;
}